{# template pour l'objet ODSelect #}

{% set objClass = "gotObject "~gotBootstrap(objet.widthBT) %}
{% set labelWidth = "" %}
{% set inputWidth = "" %}
{% for key, value in objet.labelWidthBT %}
    {% if (substr(key, 0, 1) == 'l') %}
        {% set cle = 'w' ~ substr(key, 1, 1) %}
        {% set labelWidth = labelWidth ~ cle ~ value ~ ":" %}
    {% elseif (substr(key, 0, 1) == 'i') %}
        {% set cle = 'w' ~ substr(key, 1, 1) %}
        {% set inputWidth = inputWidth ~ cle ~ value ~ ":" %}
    {% endif %}
{% endfor %}
{% set labelClass = labelClass ~ gotBootstrap(substr(labelWidth, 0, labelWidth|length - 1)) %}
{% set inputClass = inputClass ~ gotBootstrap(inputWidth) %}

<div id="{{ objet.id }}" data-objet="{{ objet.object }}"
        {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}
        {% if objClass is not empty %} class="{{ objClass }}" {% endif %}
>

    <style>
        #
        {{ objet.id }}
        {
            display:
        {{ objet.display }}
        ;
        {% if objet.style is not empty %}
        {{ objet.style | raw }}
        {% endif %}
        }

        {% if objet.infoBulle.title is not empty and objet.infoBulle.css is not empty and objet.erreur.libel is empty %}
        {% set id = objet.id %}
        {% set type = objet.infoBulle.type %}
        {% set css = objet.infoBulle.css %}
        {% set placement = objet.infoBulle.placement %}
        {% include 'graphic-object-templating/oobject/infoBulle.css.twig'  with {"id": id, "type": type, "css": css, "placement": placement } %}
        {% elseif objet.erreur.libel is not empty and objet.type != "hidden" %}
        {% set erreur = objet.erreur %}
        {% set id = objet.id %}
        {% set type = 'tooltip_err' %}
        {% set css = "background-color: #" ~ erreur.backgroundColor ~ ";color: #" ~ erreur.color ~ ';' %}
        {% set placement = objet.infoBulle.placement %}
        {% include 'graphic-object-templating/oobject/infoBulle.css.twig'  with {"id": id, "type": type, "css": css, "placement": placement } %}

        #
        {{ id }}
        {
            border: solid 2px #
        {{ erreur.color }}
        ;
        }
        {% endif %}

        {% if objet.select2 == false and objet.placeholder is not empty %}
        select option[data-default] {
            color: #999;
        }

        {% endif %}
    </style>

    <label for="{{ objet.id }}Select"
            {% if labelClass is not empty %} class="{{ labelClass }}"{% endif %}
    >
        {{ objet.label }}
    </label>
    <select id="{{ objet.id }}Select" name="{{ objet.name }}" {% if objet.multiple != false %} multiple {% endif %}
            {% if objet.state != true %} disabled {% endif %}
            {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}

            {% if objet.infoBulle is not empty %}
                {% set infoBulle = objet.infoBulle %}
                {% include 'graphic-object-templating/oobject/infoBulle.twig'  with infoBulle %}
            {% endif %}

            {% if objet.event is not empty %}
                {% for evt, callback in objet.event %}
                    data-{{ evt }} ="{{ callback }}"
                {% endfor %}
            {% endif %}
            {% if inputClass is not empty %} class="{{ inputClass }}"{% endif %}
    >
        {% if objet.select2 == false and objet.placeholder is not empty %}
            <option value="" selected data-default disabled>{{ objet.placeholder }}</option>
        {% elseif objet.select2 == true and objet.placeholder is not empty %}
            <option value=""></option>
        {% endif %}
        {% for value, options in objet.options %}
            <option value="{{ value }}"
                    {% if options.select %} selected {% endif %}
                    {% if options.enable == false %} disabled {% endif %}>
                {{ options.libel }}
            </option>
        {% endfor %}
    </select>

    <script type="application/javascript">
        $(document).ready(function () {
            {% if objet.select2 %}
            {% set params = objet.paramsSelect2 %}
            $("#{{ objet.id }}Select").select2({
                theme: "bootstrap",
                {% if objet.placeholder is not empty %}
                placeholder: "{{ objet.placeholder }}", {% endif %}
                {{ ( parms.allowClear is defined and parms.allowClear ) ? 'allowClear: true,' : 'allowClear: false,' }}
                {% if objet.multiple is typeOf('int') %}
                maximumSelectionLength: {{ objet.multiple }}, {% endif %}
                {% if params.searchBox == false %}
                minimumResultsForSearch: Infinity, {% endif %}
                {% if params.language is defined and params.language is not empty %}
                language: "{{ params.language }}", {% endif %}
                width: '100%'
            });
            $("#{{ objet.id }} .select2-selection").addClass("{{ inputClass }}");
            {% endif %}

            {% if objet.event is not empty %}
            {% set events = objet.event %}
            {% include 'graphic-object-templating/oobject/event.js.twig' with events %}
            {% endif %}
        });
    </script>

    {% if objet.infoBulle.title is not empty %}
        {% if objet.select2 == false %}
            {% set type = objet.infoBulle.type %}
            {% set id = objet.id ~ "Select" %}
        {% else %}
            {% set type = objet.infoBulle.type %}
            {% set id = objet.id ~ " .select2-container" %}
        {% endif %}
        {% include 'graphic-object-templating/oobject/infoBulle.js.twig'  with {'id':id, 'type':type} %}
    {% endif %}
</div>

