{# template pour l'objet OCSelect #}

{% set objClass = gotBootstrap(objet.widthBT) %}

{% if objet.select2 == false and objet.placeholder is not empty %}
<style>
    select option[data-default] {
        color: #999;
    }
</style>
{% endif %}

<div id="{{ objet.id }}" data-objet="{{ objet.object }}"
        {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}
        {% if objClass is not empty %} class="{{ objClass }}" {% endif %}
>
    <label for="{{ objet.id }}Select">
        {{ objet.label }}
        <select id="{{ objet.id }}Select" name="{{ objet.name }}" {% if objet.multiple != false %} multiple {% endif %}
                {% if objet.state != true %} disabled {% endif %}
                {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}

                {% if objet.infoBulle is not empty %}
                    {%  set infoBulle = objet.infoBulle %}
                    {% include 'graphic-object-templating/oobject/infoBulle.twig'  with infoBulle %}
                {% endif %}
        >
            {% if objet.select2 == false and objet.placeholder is not empty %}
                <option value="" selected data-default disabled >{{ objet.placeholder }}</option>
            {% elseif objet.select2 == true and objet.placeholder is not empty %}
                <option value=""  ></option>
            {% endif %}
            {% for value, options in objet.options %}
                <option value="{{ value }}"
                        {% if options.selected %} selected {% endif %}
                        {% if options.enable == false %} disabled {% endif %}>
                    {{ options.libel }}
                </option>
            {% endfor %}
        </select>
    </label>
</div>

{% if objet.select2 %}
<script type="application/javascript">
    $(document).ready(function () {
        {% set params = objet.paramsSelect2 %}
        $("#{{ objet.id }}Select").select2({
            theme: "bootstrap",
        {% if objet.placeholder is not empty %} placeholder: "{{ objet.placeholder }}", {% endif %}
        {{ ( parms.allowClear is defined and parms.allowClear ) ? 'allowClear: true,' : 'allowClear: false,' }}
        {% if objet.multiple is typeOf('int') %} maximumSelectionLength: {{ objet.multiple }}, {% endif %}
        {% if params.searchBox == false %} minimumResultsForSearch: Infinity, {% endif %}
        {% if params.language is defined and params.language is not empty %} language: "{{ params.language }}", {% endif %}
            width: '100%'
        });
    });
</script>
{% endif %}

{% if objet.infoBulle.title is not empty %}
    {% if objet.select2 == false %}
        {% set type = objet.infoBulle.type %}
        {% set id = objet.id ~ "Select" %}
    {% else %}
        {% set type = objet.infoBulle.type %}
        {% set id = objet.id ~ " .select2-container" %}
    {% endif %}
    {% include 'graphic-object-templating/oobject/infoBulle.js.twig'  with {'id':id, 'type':type} %}
{% endif %}
