{# template de l'objet OSDialog #}
{% set objClass = gotBootstrap(objet.widthBT) %}

<style>
    #{{ objet.id }} .modal-content {
        width: {{ objet.widthDialog }};
        position: relative;
        min-height: {{ objet.minHeight }};
    }
</style>

<div class="overlay is-hidden {{ objClass }}" id="{{ objet.id }}"
        {% if objet.event is not empty %}
            {% set allEvt = '' %}
            {% for evt, callback in objet.event %}
                {% set allEvt = allEvt ~ evt ~ ", " %}
                data-{{ evt }}-class ="{{ callback.class }}"
                data-{{ evt }}-method ="{{ callback.method }}"
                data-{{ evt }}-stopevt ="{{ callback.stopEvent }}"
            {% endfor %}
            data-evt="{{ allEvt | slice(0, allEvt|length - 2) }}"
        {% endif %}
>
    <div class="modal-content {{ objet.bgColor}} {{ objet.fgColor }}">
        {% if objet.btnClose %}<span class="button-close" onclick="closeModal('#{{ objet.id }}');"></span>{%  endif %}
        <h3>{{ objet.title }}</h3>
        {{ content | raw }}
    </div>

    {% if objet.event is defined and objet.event is not empty and objet.btnClose %}
        <script id="{{ objet.id }}Script" type="text/javascript">
            $('document').ready(function (e) {
                $('#{{ objet.id }} .button-close').click(function (e) {
                    invokeAjax({{ objet.object }}_getData($('#{{ objet.id }}'), 'click'), '{{ objet.id }}', 'click', e);
                });
            });
        </script>
    {% endif %}

</div>