{# template pour l'objet OCTabs #}

<div id="{{ objet.id }}" class="container">
    <h2>{{ objet.title }}</h2>
    <ul class="nav nav-tabs">
        {% for idx, tab in  objet.tabs %}
            {% if tab.show == true %}
        <li class="TTAB" {% if tab.activ == true %}active{% endif %} " data-tabs="{{ loop.index }}">
            <a data-toggle="tab" href="#{{ objet.id~'_CTAB_'~loop.index }}">{{ tab.title }}</a>
        </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for idx, tab in objet.tabs %}
            {% if tab.show == true %}
        <div class="CTAB tab-pane {% if tab.activ == true %}active{% else %}fade{% endif %} ">
            <h3>{{ tab.title }}</h3>
            {{ gotRender(tab.content) }}

        </div>
            {% endif %}
        {% endfor %}
        {% if objet.navigation == true %}
            {{ gotRender(objet.btns.first) }}
            {{ gotRender(objet.btns.previous) }}
            {{ gotRender(objet.btns.next) }}
            {{ gotRender(objet.btns.last) }}
        {% endif %}
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#{{ objet.id }}BtnFirst").on("click", function (e) {
            setActivTab('{{ objet.id }}', '1');
        });

        $("#{{ objet.id }}BtnPrevious").on('click', function (e) {
            setPreviousTab('{{ objet.id }}');
        });

        $("#{{ objet.id }}BtnNext").on('click', function (e) {
            setNextTab('{{ objet.id }}');
        });

        $("#{{ objet.id }}BtnLast").on('click', function (e) {
            setActivTab('{{ objet.id }}', '{{ objet.tabs|length }}');
        });

    })
</script>
