{# template de l'objet ODToggle #}
{% set objClass = "gotObject labelBold "~gotBootstrap(objet.widthBT) %}
{% set labelWidth = "" %}
{% set inputWidth = "" %}
{% for key, value in objet.labelWidthBT %}
    {% if (substr(key, 0, 1) == 'l') %}
        {% set cle = 'w' ~ substr(key, 1, 1) %}
        {% set labelWidth = labelWidth ~ cle ~ value ~ ":" %}
    {% elseif (substr(key, 0, 1) == 'i') %}
        {% set cle = 'w' ~ substr(key, 1, 1) %}
        {% set inputWidth = inputWidth ~ cle ~ value ~ ":" %}
    {% endif %}
{% endfor %}
{% set labelClass = labelClass ~ gotBootstrap(substr(labelWidth, 0, labelWidth|length - 1)) %}
{% set inputClass = inputClass ~ gotBootstrap(inputWidth) %}

<div id="{{ objet.id }}" {% if objClass is not empty %} class="{{ objClass }}" {% endif %} >

    <style>
        #{{ objet.id }}Label {
            position: relative;
            {{ objet.position }}: 1em;
            float: {{ (objet.position == 'left') ? 'right' : 'left' }};
        }
        #{{ objet.id }}inner .toggle {
            position: relative;
        {{ (objet.position == 'left') ? 'right' : 'left' }}: 0.9em;
        }

        #{{ objet.id }}inner[data-size="mini"] .toggle {
            /*    width: 4em !important; */
            min-width: 2.7em !important;
            min-height: 1.8em !important;
        }

        #{{ objet.id }}inner[data-size="small"] .toggle {
            /*    width: 4em !important; */
            min-width: 4em !important;
            min-height: 2em !important;
        }

        #{{ objet.id }}inner[data-size="normal"] .toggle {
            /*    width: 4em !important; */
            min-width: 4em !important;
            min-height: 2em !important;
        }

        #{{ objet.id }}inner[data-size="large"] .toggle {
            /*    width: 4em !important; */
            min-width: 4em !important;
            min-height: 2em !important;
        }

    </style>

    <div id="{{ objet.id }}inner" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-size="{{ objet.size }}" >
        <input id="{{ objet.id }}Input" type="checkbox"  data-toggle="toggle" data-on="{{ objet.dataOn }}"
               data-off="{{ objet.dataOff }}" data-onStyle="{{ objet.onStyle }}" data-offStyle="{{ objet.offStyle }}"
               data-size="{{ objet.size }}" {% if objet.toggle == true %} checked {% endif %}
                {% if objet.state == false %} disabled {% endif %}
                {% if objet.custom is not empty %} data-style="{{ objet.custom }}" {% endif %}
                {% if objet.width is not empty %} data-width="{{ objet.width }}" {% endif %}
                {% if objet.height is not empty %} data-height="{{ objet.height}}" {% endif %}
                {% if inputClass is not empty %} class="{{ inputClass }}"{% endif %}
        >
        <div id="{{ objet.id }}Label"
             {% if labelClass is not empty %} class="{{ labelClass }}"{% endif %}
        >{{ objet.label }}</div>
    </div>
</div>