{# template de l'objet ODTable #}

{% set objClass = "gotObject "~gotBootstrap(objet.widthBT) %}

<div id="{{ objet.id }}"  data-objet="{{ objet.object }}"
        {% if objClass is not empty %} class="{{ objClass }}" {% endif %}
     data-class="GraphicObjectTemplating\Objects\ODContained\ODTable" data-method="dispatchEvents"
>

    <style>
        {% if objet.styles is not empty %}
        {% for line, lStyle in objet.styles %}
        {% for col, cStyle in lStyle %}
        {% switch line %}
        {% case 0 %}
        {% if col == 0 %}
        {{ '#'~objet.id }} table {
        {{ cStyle | raw }}
        }
        {% else %}
        {{ '#'~objet.id }} table .cno{{ col }} {
                           {{ cStyle | raw }}
                           }
        {% endif %}
        {% default %}
        {% if col == 0 %}
        {{ '#'~objet.id }} table .lno{{ line }} {
                           {{ cStyle | raw }}
                           }
        {% else %}
        {{ '#'~objet.id }} table .lno{{ line }} .cno{{ col }} {
                           {{ cStyle | raw }}
                           }
        {% endif %}
        {% endswitch %}
        {% endfor %}
        {% endfor %}
        {% endif %}

        {{ '#'~objet.id }} table th,
                           {{ '#'~objet.id }} table td {
                               border: 1px solid #000000;
                               text-align: center;
                           }

        {% if objet.title is not empty %}
        {{ '#'~objet.id }} table caption {
                           {% set captionSide = substr(objet.titlePos, 0, strpos(objet.titlePos, "_"))  %}
                           {% set textAlign   = substr(objet.titlePos, strpos(objet.titlePos, "_") + 1) %}
                               caption-side: {{ captionSide }};
                               text-align: {{ textAlign }};
                           {% if objet.titleStyle is not empty %}
                           {{ objet.titleStyle | raw }}
                           {% endif %}
                           }
        {% endif %}

        {% for col in objet.cols %}
        {% if col.view == true %}
        {{ '#'~objet.id }} table .cno{{ loop.index }} {
                               width: {{ col.width }};
                           }
        {% endif %}
        {% endfor %}

        .DEBUG{ background-color: #eeeeee; }
        .INFO { background-color: #baf3fd; }
        .NOTICE { background-color: #ecfdc8; }
        .WARNING { background-color: #fdf6b6; }
        .ERROR { background-color: #fdd3c7; }
        .CRITICAL { background-color: #fdc4b3; }
        .ALERT { background-color: #fdc69c; }
        .EMERGENCY { background-color: #fdb46f; }
    </style>

    <input type="hidden" name="selected" id="{{ objet.id }}Select" value="{{ objet.selected }}"/>
    <table id="{{ objet.id }}_table"  style="width: 100% !important;" class="lno0 cno0" data-lno="0" data-cno="0"
           data-class="GraphicObjectTemplating\Objects\ODContained\ODTable" data-method="dispatchEvents"
            {% if objet.event is not empty %}
                {% for evt, callback in objet.event %}
                    {% if 'stopEvent' in callback|keys %}
                        data-{{ evt }}-stopevt ="{{ callback.stopEvent }}"
                    {% endif %}
                {% endfor %}
            {% else %}
                data-change-stopevt="NON"
            {% endif %}
    >
        {% if objet.title is not empty %}
            <caption>{{ objet.title }}</caption>
        {% endif %}
        <thead>
        <tr class="line">
            {% for col in objet.cols %}
                {% if col.view == true %}
                    <th class="col cno{{ loop.index }}" data-col="{{ loop.index }}">{{ col.libel | trim }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% if objet.datas is empty %}
            <tr class="line lno1" data-lno="1">
                <td colspan="{{ objet.cols|length }}" style="text-align: center">{{ translate("No data to show") | trim }}</td>
            </tr>
        {% else %}
            {% for lno, data in objet.datas %}
                {% if data['view'] == true %}
                    {% set key = 'line' ~ lno %}
                    {% set lineClasses = objet.classesTab[key] %}
                    <tr class="line lno{{ lno }} {{ lineClasses }}" data-lno="{{ lno }}">
                        {% for cno, col in data %}
                            {% if objet.cols[cno].view == true %}
                                {% set key = 'col' ~ cno %}
                                {% set colClasses = objet.classesTab[key] %}
                                <td class="col cno{{ cno }} {{ colClasses }}" data-cno="{{ cno }}">{{ col | trim | raw }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    {% if objet.events is defined and objet.events is not empty %}
        <script id="{{ objet.id }}Script" type="text/javascript">
            $(document).ready(function () {
                {% for evt, count in objet.events %}
                $('#{{ objet.id }}').on('click', 'table, tr, th, td', function (event) {
                    var classes = "";
                    var cno     = "";
                    var lno     = "";
                    classes = $(this).attr('class');
                    if (strpos(classes, 'cno')) { cno = parseInt($(this).data('cno')); }
                    if (strpos(classes, 'lno')) { lno = parseInt($(this).data('lno')); }
                    if (!lno && cno) { lno = parseInt($(this).parent('tr').data('lno')); }
                    if (lno && !cno) { cno = 0 }
                    if (lno && cno) {
                        $("#{{ objet.id }} input").val("L"+lno+"C"+cno);
                        invokeAjax(odtable_getData($('#{{ objet.id }}'), 'click'),'{{ objet.id }}', 'click', event);
                    }
                });
                {% endfor %}
            });
        </script>
    {% endif %}
</div>

