{# template de l'objet ODTable #}

{% set objClass = gotBootstrap(objet.widthBT) %}

<style>
    {% if objet.styles is not empty %}
        {% for line, lStyle in objet.styles %}
            {% for col, cStyle in lStyle %}
                {% switch line %}
                    {% case 0 %}
                        {% if col == 0 %}
    #{{ objet.id }} table {
                    {{ cStyle | raw }}
                    }
                        {% else %}
    #{{ objet.id }} table .col{{ col }} {
                    {{ cStyle | raw }}
                    }
                        {% endif %}
                    {% default %}
                        {% switch col %}
                            {% case 0 %}
    #{{ objet.id }} table #line{{ line }} {
                    {{ cStyle | raw }}
                    }
                            {% default %}
    #{{ objet.id }} table #line{{ line }} .col{{ col }} {
                    {{ cStyle | raw }}
                    }
                        {% endswitch %}
                {% endswitch %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    #{{ objet.id }} table th,
    #{{ objet.id }} table td {
        border: 1px solid #000000;
        text-align: center;
    }

    {% if objet.title is not empty %}
    #{{ objet.id }} table caption {
        {% set captionSide = substr(objet.titlePos, 0, strpos(objet.titlePos, "_"))  %}
        {% set textAlign   = substr(objet.titlePos, strpos(objet.titlePos, "_") + 1) %}
        caption-side: {{ captionSide }};
        text-align: {{ textAlign }};
        {% if objet.titleStyle is not empty %}
        {{ objet.titleStyle | raw }}
        {% endif %}
    }
    {% endif %}

    {% for col in objet.cols %}
        {% if col.view == true %}
    #{{ objet.id }} table .col{{ loop.index }} {
        width: {{ col.width }};
                    }
    {% endif %}
    {% endfor %}
</style>

<div id="{{ objet.id }}"  data-objet="{{ objet.object }}"
        {% if objClass is not empty %} class="{{ objClass }}" {% endif %}
>
    <table id="{{ objet.id }}_table">
        {% if objet.title is not empty %}
        <caption>{{ objet.title }}</caption>
        {% endif %}
        <thead>
            <tr>
                {% for col in objet.cols %}
                    {% if col.view == true %}
                <th class="col{{ loop.index }}">{{ col.libel }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% if objet.datas is empty %}
            <tr><td colspan="{{ objet.cols|length }}" style="text-align: center">No data to show</td></tr>
            {% else %}
            {% for data in objet.datas %}
                {% if data.view == true %}
            <tr id="line{{ loop.index }}">
                {% for key, col in data %}
                    {% if key != 'view' %}
                    {% set visible = objet.cols[key]['view'] %}
                    {% if visible == true %}
                <td class="col{{ key }}">{{ col | raw }}</td>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
                {% endif %}
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>