{# template de l'objet ODTable #}

{% set objClass = gotBootstrap(objet.widthBT) %}

<style>
    {% if objet.styles is not empty %}
        {% for line, lStyle in objet.styles %}
            {% for col, cStyle in lStyle %}
                {% switch line %}
                    {% case 0 %}
                        {% if col == 0 %}
    #{{ objet.id }} table {
                    {{ cStyle | raw }}
                    }
                        {% else %}
    #{{ objet.id }} table .col{{ col }} {
                    {{ cStyle | raw }}
                    }
                        {% endif %}
                    {% default %}
                        {% switch col %}
                            {% case 0 %}
    #{{ objet.id }} table #line{{ line }} {
                    {{ cStyle | raw }}
                    }
                            {% default %}
    #{{ objet.id }} table #line{{ line }} .col{{ col }} {
                    {{ cStyle | raw }}
                    }
                        {% endswitch %}
                {% endswitch %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    #{{ objet.id }} table th,
    #{{ objet.id }} table td {
        border: 1px solid #000000;
        text-align: center;
    }

    {% if objet.title is not empty %}
    #{{ objet.id }} table caption {
        {% set captionSide = substr(objet.titlePos, 0, strpos(objet.titlePos, "_"))  %}
        {% set textAlign   = substr(objet.titlePos, strpos(objet.titlePos, "_") + 1) %}
        caption-side: {{ captionSide }};
        text-align: {{ textAlign }};
        {% if objet.titleStyle is not empty %}
        {{ objet.titleStyle | raw }}
        {% endif %}
    }
    {% endif %}

    {% for col in objet.cols %}
        {% if col.view == true %}
    #{{ objet.id }} table .col{{ loop.index }} {
        width: {{ col.width }};
                    }
    {% endif %}
    {% endfor %}
</style>

<div id="{{ objet.id }}"  data-objet="{{ objet.object }}"
                                                    {% if objClass is not empty %} class="{{ objClass }}" {% endif %}>
    <input type="hidden" name="selected" id="{{ objet.id }}Select" value="{{ objet.selected }}"/>
    <table id="{{ objet.id }}_table">
        {% if objet.title is not empty %}
        <caption>{{ objet.title }}</caption>
        {% endif %}
        <thead>
            <tr class="line no0">
                {% for col in objet.cols %}
                    {% if col.view == true %}
                <th class="col{{ loop.index }}">{{ col.libel }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% if objet.datas is empty %}
            <tr class="line no1"><td colspan="{{ objet.cols|length }}" style="text-align: center">{{ translate("No data to show") }}</td></tr>
            {% else %}
            {% for data in objet.datas %}
                {% if data.view == true %}
            <tr class="line lno{{ loop.index }}">
                {% for key, col in data %}
                    {% if key != 'view' %}
                    {% set visible = objet.cols[key]['view'] %}
                    {% if visible == true %}
                <td class="col cno{{ key }}">{{ col | raw }}</td>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
                {% endif %}
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<script id="{{ objet.id }}Script">
    $('document').ready(

        $(".line .col").click(function () {
            var selected = $(this).attr('class') + " " + $(this).parent().attr('class');
            $("#{{ objet.id }}Select").val(selected);
        })

{% if objet.event is defined and objet.event is not empty and objet.state == true %}
    {% for lno, line in objet.event %}
        {% for cno, callback in line %}
        {% switch lno %}
            {% case 0 %} {# cas click sur colonne#}
                $('#{{ objet.id }} .cno' + cno).on('{{ evt }}', function() {
                    invokeAjax(odtable_getData($('#{{ objet.id }}'),'{{ evt }}'));
                })
            {% default %}
                {% swith cno %}
                    {%  case 0 %}
                        $('#{{ objet.id }} .lno' + lno).on('{{ evt }}', function() {
                            invokeAjax(odtable_getData($('#{{ objet.id }}'),'{{ evt }}'));
                        })
                    {% default %}
                        $('#{{ objet.id }} .lno' + lno + ' .cno' + cno).on('{{ evt }}', function() {
                            invokeAjax(odtable_getData($('#{{ objet.id }}'),'{{ evt }}'));
                        })
                {% endswitch %}
        {% endswitch %}
        {% endfor %}
    {% endfor %}
{% endif %}
    );
</script>
