{# template pour l'objet ODTextarea #}
{% set objClass = gotBootstrap(objet.widthBT) %}

<style>
    #{{ objet.id }} {
        display: {{ objet.display }};
    {% if objet.style is not empty %}
    {{ objet.style | raw }}
    {% endif %}
    }

    {% if objet.infoBulle.title is not empty and objet.infoBulle.css is not empty and objet.erreur.libel is empty %}
    {% set id = objet.id %}
    {% set type = objet.infoBulle.type %}
    {% set css = objet.infoBulle.css %}
    {% set placement = objet.infoBulle.placement %}
    {% include 'graphic-object-templating/oobject/infoBulle.css.twig'  with {"id": id, "type": type, "css": css, "placement": placement } %}
    {% elseif objet.erreur.libel is not empty %}
    {% set erreur = objet.erreur %}
    {% set id = objet.id %}
    {% set type = 'tooltip' %}
    {% set css = "background-color: #" ~ erreur.backgroundColor ~ ";color: #" ~ erreur.color ~ ';' %}
    {% set placement = objet.infoBulle.placement %}
    {% include 'graphic-object-templating/oobject/infoBulle.css.twig'  with {"id": id, "type": type, "css": css, "placement": placement } %}

    #{{ id }} {
        border:  solid 2px #{{ erreur.color }};
    }
    {% endif %}

</style>

<div id="{{ objet.id }}">
    <textarea id="{{ objet.id }}TxtArea" name="{{ objet.name }}" cols="{{ objet.cols }}" rows="{{ objet.rows }}"
        data-objet="{{ objet.object }}" data-type="{{ objet.typeObj }}"
        {% if objClass is not empty %} class="{{ objClass }}" {% endif %}
        {% if objet.readOnly %} readonly {% endif %}

        {% if objet.infoBulle.title is not empty and objet.erreur.libel is empty %}
            {%  set infoBulle = objet.infoBulle %}
        {% elseif objet.erreur.libel is not empty %}
            {% set infoBulle = objet.infoBulle %}
            {% set erreur = objet.erreur %}
            {% set infoBulle =
            infoBulle | update({'title': erreur.libel, 'content': '', 'type': 'tooltip'}) %}
        {% endif %}
        {% if infoBulle is defined and infoBulle is not empty %}
            {% include 'graphic-object-templating/oobject/infoBulle.twig'  with infoBulle %}
        {% endif %}

        {% if objet.event is not empty %}
            {% for evt, callback in objet.event %}
                data-{{ evt }} = "{{ callback }}"
            {% endfor %}
        {% endif %}
        {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}
        {% if objet.state == false %}
            disabled
        {% endif %}
        {% if objet.placeholder is not empty %} placeholder="{{ objet.placeholder }}" {% endif %}
        {% if objet.maxLength is not empty and objet.maxLength > 0 %} maxLength="{{ objet.maxlength }}" {% endif %}
    >
        {{ objet.value }}
    </textarea>
</div>
