{# template de l'objet ODContent #}
{% set objClass = gotBootstrap(objet.widthBT) %}

<style>
    #{{ objet.id }} {
        display: {{ objet.display }};
    {% if objet.style is not empty %}
        {{ objet.style | raw }}
    {% endif %}
    }

    {% if objet.infoBulle.title is not empty and objet.infoBulle.css is not empty and objet.erreur.libel is empty %}
        {% set id = objet.id %}
        {% set type = objet.infoBulle.type %}
        {% set css = objet.infoBulle.css %}
        {% set placement = objet.infoBulle.placement %}
        {% include 'graphic-object-templating/oobject/infoBulle.css.twig'  with {"id": id, "type": type, "css": css, "placement": placement } %}
    {% elseif objet.erreur.libel is not empty %}
        {% set erreur = objet.erreur %}
        {% set id = objet.id %}
        {% set type = 'tooltip' %}
        {% set css = "background-color: #" ~ erreur.backgroundColor ~ ";color: #" ~ erreur.color ~ ';' %}
        {% set placement = objet.infoBulle.placement %}
        {% include 'graphic-object-templating/oobject/infoBulle.css.twig'  with {"id": id, "type": type, "css": css, "placement": placement } %}

    #{{ id }} {
        border:  solid 2px #{{ erreur.color }};
    }
    {% endif %}

</style>

<div id="{{ objet.id }}"
    {% if objet.infoBulle.title is not empty and objet.erreur.libel is empty %}
        {%  set infoBulle = objet.infoBulle %}
    {% endif %}
    {% if objet.erreur.libel is not empty %}
        {% set infoBulle = objet.infoBulle %}
        {% set erreur = objet.erreur %}
        {% set infoBulle =
        infoBulle | update({'title': erreur.libel, 'content': '', 'type': 'tooltip'}) %}
    {% endif %}
        {#{ dump(infoBulle) }#}
    {% if infoBulle is defined and infoBulle is not empty %}
        {% include 'graphic-object-templating/oobject/infoBulle.twig'  with infoBulle %}
    {% endif %}
    {% if objet.classes is not empty %} {% set objClass = objClass ~ " " ~ objet.classes %} {% endif %}

    {% if objClass is not empty %} class="{{ objClass }}" {% endif %}
>
    {{ objet.content | raw}}
</div>

{% if infoBulle.title is not empty %}
    {%  set type = infoBulle.type %}
    {%  set id = objet.id %}
    {% include 'graphic-object-templating/oobject/infoBulle.js.twig'  with {'id':id, 'type':type} %}
{% endif %}
