{# template de l'objet OCCheckbox #}

{% set objClass = gotBootstrap(objet.widthBT) %}
{% if objet.state is defined %}
    {% if objet.state == false %}
        {%  set objClass = "checkbox " ~ objClass ~ " disabled"  %}
    {% endif %}
{% endif %}
{% set labelClass = gotBootstrap(objet.labelWidthBT) %}

{% if objet.style is not empty %}
    <style>
        #{{ objet.id }} {
            display: {{ objet.display }};
        {{ objet.style | raw }}
        }
    </style>
{% endif %}

<div id="{{ objet.id }}"
        {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}
        {% if objet.event is not empty %}
            {% for evt, callback in objet.event %}
                data-{{ evt }} = "{{ callback }}"
            {% endfor %}
        {% endif %}

        {% if objet.infoBulle is not empty %}
            {%  set infoBulle = objet.infoBulle %}
            {% include 'graphic-object-templating/oobject/infoBulle.twig'  with infoBulle %}
        {% endif %}
>
    {% if objet.options|length > 1 %}
    <div {% if labelClass is not empty %} class="{{ labelClass }}" {% endif %} >
        {{ objet.label }}
    </div>
    {% endif %}
    {% for value, options in objet.options %}
    <label><input type="checkbox" name="{{ objet.name }}" value="{{ value }}"
        class="{{ objClass }}" id="{{ objet.id ~ value}}"
        {% if (options.check == 'check') %} checked="checked" {% endif %}
    >{{ options.libel }}</label>
    {% endfor %}
</div>

{% if objet.event is defined and objet.event is not empty %}
    <script id="{{ objet.id }}Script">
        $('document').ready(
            {% if objet.event is not empty %}
                {% for evt, callback in objet.event %}
                    $('#{{ objet.id }}').unbind().on('{{ evt }}', function() {
                        invokeAjax(occheckbox_getData($('#{{ objet.id }}'),'{{ evt }}'));
                    })
                {% endfor %}
            {% endif %}
        );
    </script>
{% endif %}

{% if objet.infoBulle is not empty %}
    {%  set type = objet.infoBulle.type %}
    {%  set id = objet.id %}
    {% include 'graphic-object-templating/oobject/infoBulle.js.twig'  with {'id':id, 'type':type} %}
{% endif %}
