{# template de l'objet ODBreadcrumbs #}

<div id="{{ objet.id }}">
    <style>
        #{{ objet.id }} {
            position: relative;
        {% if objet.style is not empty %}
        {{ objet.style | raw }}
        {% endif %}
        }

        #{{ objet.id }} .labelB {
            position: absolute;
            top: 0.7em;
        }
    </style>
    <div class="labelB">{{ objet.label }}</div>
    <div class="breadcrumbsB">
        <ul class="breadcrumb">
            {% for item in objet.tree %}
                {% if not(loop.last) %}
                    <li><a href="{{ item.url |escape }}">{{ item.label | escape }}</a></li>
                {% else %}
                    <li>{{ item.label | escape }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>