{# template de l'objet ODBreadcrumbs #}

{% set objClass = "gotObject "~gotBootstrap(objet.widthBT) %}

<div id="{{ objet.id }}" class="{{ objClass }}">
    <style>
        #{{ objet.id }} {
            position: relative;
        {% if objet.style is not empty %}
        {{ objet.style | raw }}
        {% endif %}
        }

        #{{ objet.id }} .labelB {
            position: absolute;
            top: 0.6em;
        }
    </style>
    <div class="labelB">{{ objet.label }}</div>
    <div class="breadcrumbsB">
        <ul class="breadcrumb">
            {% for item in objet.tree %}
                {% if not(loop.last) %}
                    <li>
                        {% if item.icon is not empty %}
                        <i class="{{ item.icon }}"></i>
                        {% endif %}
                        <a href="{{ item.url |escape }}">{{ item.label | escape }}</a>
                        {% if objet.separator is not empty %}
                            <span>{{ objet.separator }}</span>
                        {% endif %}

                    </li>
                {% else %}
                    {% if item.icon is not empty %}
                        <i class="{{ item.icon }}"></i>
                    {% endif %}
                    <li>{{ item.label | escape }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>