{# temàplate de l'objet ODOnOff #}

<style>
    #{{ objet.id }}Div .onOffLabel,
    #{{ objet.id }}Div .onoffswitch
        {
        float: {{ objet.posLabel }};
        margin: 0.4em;
        }
</style>

<div id="{{ objet.id }}Div" >
    {% if objet.label is defined and objet.label is not empty %}
    <div class="onOffLabel">{% obejt.lable %}</div>
    {% endif %}
    <div class="onoffswitch" >
        <input id="st{{ objet.id }}" type="checkbox" name="start_interval" class="onoffswitch-checkbox"
               {% if objet.value == 'OUI') %} checked="checked" {% endif %}
               data-objet="{{ objet.object }}"
                {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}
                {% if objet.event is not empty %}
                    {% for evt, callback in objet.event %}
                        data-{{ evt }} = "{{ callback }}"
                    {% endfor %}
                {% endif %}
        {% if objet.state == false %} disabled="disabled" {% endif %}>
        <label class="onoffswitch-label" for="st{{ objet.id }}">
            <span class="onoffswitch-inner" data-swchon-text="Oui" data-swchoff-text="Non"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>
</div>

{% if objet.event is defined and objet.event is not empty %}
    <script id="{{ objet.id }}Script">
        $('document').ready(
            {% if objet.event is not empty %}
                {% for evt, callback in objet.event %}
                $('#{{ objet.id }}').on('{{ evt }}', function() {
                    invokeAjax(odonoff_getData($('#{{ objet.id }}'),'{{ evt }}'));
                })
                {% endfor %}
            {% endif %}
        );
    </script>
{% endif %}
