{{ doctype() }}
<html lang="en">
<head>
    {{ headTitle('Application').setSeparator(' - ').setAutoEscape(false) | raw }}
    {{ headMeta()
    .setCharset('utf-8')
    .appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    .appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8')
    .appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    .appendName('description', 'Metro, a sleek, intuitive, and powerful framework for faster and easier web development for Windows Metro Style.')
    .appendName('keywords', 'HTML, CSS, JS, JavaScript, framework, metro, front-end, frontend, web development')
    .appendName('author', 'Sergey Pimenov and Metro UI CSS contributors')
    | raw }}
    {% block meta %}{% endblock meta %}

    {{ headLink({'rel':'shortcut icon', 'type':'image/vnd.microsoft.icon', 'href':basePath('img/favicon.ico') }) | raw }}
    <!-- Le styles -->
    {{ headLink()
    .prependStylesheet(basePath('css/bootstrap-theme.min.css'))
    .prependStylesheet(basePath('css/bootstrap.min.css'))
    .prependStylesheet(basePath('graphicobjecttemplating/css/font-awesome.css'))
    .prependStylesheet(basePath('graphicobjecttemplating/css/main.css'))
    .prependStylesheet(basePath('graphicobjecttemplating/css/lobibox.min.css'))
    .prependStylesheet(basePath('css/style.css'))
    | raw }}

    {% block styleHead %}{% endblock styleHead %}
    <!-- Le styles -->

    <!-- Scripts -->
    {{ headScript()
    .prependFile(basePath('graphicobjecttemplating/js/lobibox.min.js'))
    .prependFile(basePath('graphicobjecttemplating/js/main.js'))
    .prependFile(basePath('js/bootstrap.min.js'))
    .prependFile(basePath('js/jquery-3.1.0.min.js'))
    | raw }}
    <!--[if lt IE 9]><script type="text/javascript" src="{{ basePath() }}/js/respond.min.js"></script><![endif]-->
    <!--[if lt IE 9]><script type="text/javascript" src="{{ basePath() }}/js/html5shiv.js"></script><![endif]-->
    <!--script type="text/javascript" src="{{ basePath() }}/js/bootstrap.model.wrapper.js"></script-->

    {% block scriptHead %}{% endblock scriptHead %}
    <!-- Scripts -->
</head>
<body>
    <div id="gotCallback" style="display: none;">{{ url("got-callback", {}, {'force_canonical':true}) }}</div>
    <div id="divWork" style="display: none"></div>

    {% block contentBody %}
    <div class="container">
        {% block content %}{{ content|raw }}{% endblock content %}
        <hr>
        <footer>
            {% block footer %}
                <p>&copy; 2005 - 2014 by Zend Technologies Ltd. All rights reserved.</p>
            {% endblock footer %}
        </footer>
    </div> <!-- /container -->
    {% endblock contentBody %}

    {% block inline %}{% endblock inline %}
</body>
</html>
