{% set action = objet.action %}
{% switch(action) %}
    {% case 'init' %}
        <style>
            #{{ objet.id }}_form {
            {% if objet.autoCenter == true %}
                {% set objClass = "" %}
                width: {{ objet.autoCenterPx }};
                height:  {{ objet.autoCenterPy }};
                position: absolute;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            {% endif %}
                display: {{ objet.display }};
            {% if objet.style is not empty %}
                {{ objet.style | raw }}
            {% endif %}
            }
        </style>

        <div id="{{ objet.id }}_form">
            {{ content | raw }}
            <div class="btn col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {% for submitId in objet.submits %}
                    {{ gotRender(submitId) }}
                {% endfor %}
                {{ gotRender(objet.reset) }}
            </div>
        </div>
    {% case 'reset' %}
    {% default %}
        <p>fonction non géré</p>
{% endswitch %}
