{# template de l'objet ODMenu #}

{% macro afficheLeaf(menu, active) %}
    {% if menu.dropdown is empty %}
        {% if substr(menu.id, 0, 7) == 'divider' %}
    <li class="divider"></li>
        {% else %}
    <li class="{% if active == menu.id %}active{% endif %}">
        <a href="{{ menu.link | escape }}">
            {{ menu.label }}
        </a>
    </li>
        {% endif %}
    {% else %}
        <li class="dropdown {% if active == menu.id %}active{% endif %}">
            <a href="{{ menu.link | escape }}" class="dropdown-toggle" data-toggle="dropdown">
                {{ menu.label }}<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                {% for tMenu in menu.dropdown %}
                {{ _self.afficheLeaf(tMenu, active) }}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}


<nav id="{{ objet.id }}" class="navbar navbar-default" role="navigation">
    {% set active = objet.activMenu %}
    <style>
        {% if objet.style is not empty %}
        #{{ objet.id }} {
        {{ objet.style | raw }}
        }
        {% endif %}
    </style>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% if objet.title is not empty %}
        <a class="navbar-brand" href="#" target="_blank">{{ objet.title }}</a>
        {% endif %}
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            {% for menus in objet.dataTree %}
                {{ _self.afficheLeaf(menus, active) }}
            {% endfor %}
        </ul>
    </div>
</nav>