{# template de l'objet ODMenu #}

<style>
    .icoImg {
        width:100px;
        display:block;
        height:20px;
        background:black;
        color:white;
        text-decoration:none;
        padding-left:20px;
    }
</style>

{% macro afficheLeaf(menu, active, level) %}
    {% if level is null %} {% set level = 0 %} {% endif %}

    {% if menu.dropdown is empty %}
        {% if substr(menu.id, 0, 7) == 'divider' %}
            <li id="{{menu.id}}" class="divider" data-level="{{level}}"></li>
        {% else %}
            <li id="{{menu.id}}" class="{% if active == menu.id %}active{% endif %}" data-level="{{level}}">
                <a href="{{ menu.link | escape }}">
            {% if menu.icon is not empty %}
                {% if menu.icon is not iterable %}
                <i class="iconM {{ menu.icon }}"></i>
                {% else %}
                <style>
                    .{{ menu.id}}Ico:before{
                        content: '';
                        background:url('http://{{ menu.icon.path }}/{{ menu.icon.file }}');
                        background-size:cover;
                        position:absolute;
                        width:20px;
                        height:20px;
                        margin-left:-20px;
                    }
                </style>
                <i class="iconM icoImg {{ menu.id}}Ico"></i>
                {% endif %}
            {% endif %}
            <span class="labelM">{{ menu.label }}</span>
            </a>
            </li>
        {% endif %}
    {% else %}
        <li id="{{menu.id}}" class="dropdown {% if active == menu.id %}active{% endif %}
        {% if level > 0 %}dropdown-submenu{% endif %}" data-level="{{level}}">
            <a href="{{ menu.link | escape }}" class="dropdown-toggle" data-toggle="dropdown">
                {% if menu.icon is not empty %}
                    {% if menu.icon is not iterable %}
                        <i class="iconM {{ menu.icon }}"></i>
                    {% else %}
                    <style>
                        .{{ menu.id}}Ico:before{
                            content: '';
                            background:url('http://{{ menu.icon.path }}/{{ menu.icon.file }}');
                            background-size:cover;
                            position:absolute;
                            width:20px;
                            height:20px;
                            margin-left:-20px;
                        }
                    </style>
                    <i class="iconM icoImg {{ menu.id}}Ico"></i>
                    {% endif %}
                {% endif %}
                <span class="labelM">{{ menu.label }} {% if level < 1 %}<b class="caret"></b>{% endif %}</span>
            </a>
            <ul class="dropdown-menu">
                {% for tMenu in menu.dropdown %}
                {{ _self.afficheLeaf(tMenu, active, level + 1) }}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}

{% set objClass = '' %}
{% if objet.classes is not empty %} {% set objClass = objClass ~ " " ~ objet.classes %} {% endif %}

<nav id="{{ objet.id }}" class="navbar navbar-default {{ objClass }}" role="navigation">
    {% set active = objet.activMenu %}
    <style>
        {% if objet.style is not empty %}
        #{{ objet.id }} {
        {{ objet.style | raw }}
        }
        {% endif %}
    </style>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% if objet.title is not empty %}
        <a class="navbar-brand" href="#" target="_blank">{{ objet.title }}</a>
        {% endif %}
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            {% for menus in objet.dataTree %}
                {{ _self.afficheLeaf(menus, active) }}
            {% endfor %}
        </ul>
    </div>
</nav>

{% set classLabel = 'inline' %}
{% set classIcon  = 'inline' %}
{% if objet.labelTitle == false %}{% set classLabel = 'nomeDisplay' %}{% endif %}
{% if objet.inconTitle == true  %}{% set classIcon  = 'block iconX2'%}{% endif %}
<script>
    $(document).ready(function(){
        $("li[data-level='0'] a span.labelM").each(function(){
            console.log($(this));
            $(this).addClass('{{classLabel}}');
        });
        $("li[data-level='0'] a  i.iconM").each(function(){
            console.log($(this));
            $(this).addClass('{{classIcon}}');
        });
    });
</script>        