{# template de l'objet ODMenu #}

<style>
    .icoImg {
        width:100px;
        display:block;
        height:20px;
        background:black;
        color:white;
        text-decoration:none;
        padding-left:20px;
    }
</style>

{% macro afficheLeaf(menu, active, level) %}
    {% if level is null %} {% set level = 0 %} {% endif %}

    {% if menu.dropdown is empty %}
        {% if substr(menu.id, 0, 7) == 'divider' %}
            <li class="divider"></li>
        {% else %}
            <li class="{% if active == menu.id %}active{% endif %}">
                <a href="{{ menu.link | escape }}">
            {% if menu.icon is not empty %}
                {% if menu.icon is not iterable %}
                <i class="{{ menu.icon }}"></i>
                {% else %}
                <style>
                    .{{ menu.id}}Ico:before{
                        content: '';
                        background:url('http://{{ menu.icon.path }}/{{ menu.icon.file }}');
                        background-size:cover;
                        position:absolute;
                        width:20px;
                        height:20px;
                        margin-left:-20px;
                    }
                </style>
                <i class="icoImg {{ menu.id}}Ico"></i>
                {% endif %}
            {% endif %}
            {{ menu.label }}
            </a>
            </li>
        {% endif %}
    {% else %}
        <li class="dropdown {% if active == menu.id %}active{% endif %}
        {% if level > 0 %}dropdown-submenu{% endif %}">
            <a href="{{ menu.link | escape }}" class="dropdown-toggle" data-toggle="dropdown">
                {% if menu.icon is not empty %}
                    {% if menu.icon is not iterable %}
                        <i class="{{ menu.icon }}"></i>
                    {% else %}
                    <style>
                        .{{ menu.id}}Ico:before{
                            content: '';
                            background:url('http://{{ menu.icon.path }}/{{ menu.icon.file }}');
                            background-size:cover;
                            position:absolute;
                            width:20px;
                            height:20px;
                            margin-left:-20px;
                        }
                    </style>
                    <i class="icoImg {{ menu.id}}Ico"></i>
                    {% endif %}
                {% endif %}
                {{ menu.label }} {% if level < 1 %}<b class="caret"></b>{% endif %}
            </a>
            <ul class="dropdown-menu">
                {% for tMenu in menu.dropdown %}
                {{ _self.afficheLeaf(tMenu, active, level + 1) }}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}


<nav id="{{ objet.id }}" class="navbar navbar-default" role="navigation">
    {% set active = objet.activMenu %}
    <style>
        {% if objet.style is not empty %}
        #{{ objet.id }} {
        {{ objet.style | raw }}
        }
        {% endif %}
    </style>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% if objet.title is not empty %}
        <a class="navbar-brand" href="#" target="_blank">{{ objet.title }}</a>
        {% endif %}
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            {% for menus in objet.dataTree %}
                {{ _self.afficheLeaf(menus, active) }}
            {% endfor %}
        </ul>
    </div>
</nav>