{# template objet ODImage #}

<div id="{{ objet.id }}">
    <img src="{{ basepath(objet.url) }}"
         {% if objet.alt is defined and objet.alt is not empty %} alt="{{ objet.alt }}" {% endif %}
         {% if objet.width is defined and objet.width > 0 %} width="{{ objet.width }}" {% endif %}
         {% if objet.height is defined and objet.height > 0 %} height="{{ objet.height }}" {% endif %}
    />

    {% if objet.event is defined and objet.event is not empty %}
        <script id="{{ objet.id }}Script" type="text/javascript">
            $('document').ready(
                    {% if objet.event is not empty %}
                    {% set events = objet.event %}
                    {% include 'graphic-object-templating/oobject/event.js.twig' with events %}
                    {% endif %}
            );
        </script>
    {% endif %}

    {% if infoBulle.title is not empty %}
        {%  set type = infoBulle.type %}
        {%  set id = objet.id %}
        {% include 'graphic-object-templating/oobject/infoBulle.js.twig'  with {'id':id, 'type':type} %}
    {% endif %}
</div>