{# temàplate de l'objet ODRadio #}

{% set objClass = "gotObject "~gotBootstrap(objet.widthBT) %}
{% if objet.state is defined %}
    {% if objet.state == false %}
        {%  set objClass = "radio " ~ objClass ~ " disabled"  %}
    {% endif %}
{% endif %}
{% set labelClass = gotBootstrap(objet.labelWidthBT) %}

<div id="{{ objet.id }}" data-objet="{{ objet.object }}" data-type="{{ objet.typeObj }}"
        {% if objClass is not empty %} class="{{ objClass }}" {% endif %}

        {% if objet.infoBulle.title is not empty and objet.erreur.libel is empty %}
            {%  set infoBulle = objet.infoBulle %}
        {% elseif objet.erreur.libel is not empty %}
            {% set infoBulle = objet.infoBulle %}
            {% set erreur = objet.erreur %}
            {% set infoBulle =
            infoBulle | update({'title': erreur.libel, 'content': '', 'type': 'tooltip'}) %}
        {% endif %}
        {% if infoBulle is defined and infoBulle is not empty %}
            {% include 'graphic-object-templating/oobjects/infoBulle.twig'  with infoBulle %}
        {% endif %}

        {% if objet.event is not empty %}
            {% set allEvt = '' %}
            {% for evt, callback in objet.event %}
                {% set allEvt = allEvt ~ evt ~ ", " %}
                data-{{ evt }}-class ="{{ callback.class }}"
                data-{{ evt }}-method ="{{ callback.method }}"
                data-{{ evt }}-stopevt ="{{ callback.stopEvent }}"
            {% endfor %}
            data-evt="{{ allEvt | slice(0, allEvt|length - 2) }}"
        {% endif %}
        {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}
        {% if objet.state == false %}
            disabled
        {% endif %}
>

    <style>
        #{{ objet.id }} {
            display: {{ objet.display }};
        {% if objet.style is not empty %}
        {{ objet.style | raw }}
        {% endif %}
        }

        {% if objet.forme == 'horizontal' %}
        #{{ objet.id }} .radio {
            float: left;
            margin: 5px;
        }
        {% endif %}

        {% if objet.infoBulle.title is not empty and objet.infoBulle.css is not empty and objet.erreur.libel is empty %}
        {% set id = objet.id %}
        {% set type = objet.infoBulle.type %}
        {% set css = objet.infoBulle.css %}
        {% set placement = objet.infoBulle.placement %}
        {% include 'graphic-object-templating/oobjects/infoBulle.css.twig'  with {"id": id, "type": type, "css": css, "placement": placement } %}
        {% elseif objet.erreur.libel is not empty and objet.type != "hidden" %}
        {% set erreur = objet.erreur %}
        {% set id = objet.id %}
        {% set type = 'tooltip_err' %}
        {% set css = "background-color: #" ~ erreur.backgroundColor ~ ";color: #" ~ erreur.color ~ ';' %}
        {% set placement = objet.infoBulle.placement %}
        {% include 'graphic-object-templating/oobjects/infoBulle.css.twig'  with {"id": id, "type": type, "css": css, "placement": placement } %}

        #{{ id }} {
            border:  solid 2px #{{ erreur.color }};
        }
        {% endif %}

        {% if objet.place == "right" %}
        {# positionne le label à droite du coché #}
        .radio label{
            position: relative;
            left: -1.7em;
        }
        .radio label::before {
            right: -1.7em;
            left: auto;
        }
        .radio label::after {
            right: -2.1em;
            left: auto;
        }
        {% endif %}
    </style>


    {% if objet.options|length > 1 %}
        <label>{{ objet.label }}</label>
    {% endif %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% for options in objet.options %}
            <div class="{{ options.type }}">
                <input id="{{ objet.id ~ loop.index0 }}" type="radio" value="{{ options.value }}" name="{{ objet.name }}"
                       {% if not options.state %}disabled{% endif %} {% if options.check == 'check' %}checked{% endif %}>
                <label for="{{ objet.id ~ loop.index0 }}">
                    {{ options.libel }}
                </label>
            </div>
        {% endfor %}
    </div>

    {% if objet.event is defined and objet.event is not empty %}
        <script id="{{ objet.id }}Script" type="text/javascript">
            $('document').ready(
                    {% if objet.event is not empty %}
                    {% set events = objet.event %}
                    {% include 'graphic-object-templating/oobjects/event.js.twig' with events %}
                    {% endif %}
            );
        </script>
    {% endif %}

    {% if infoBulle is not empty %}
        {%  set type = infoBulle.type %}
        {%  set id = objet.id %}
        {% include 'graphic-object-templating/oobjects/infoBulle.js.twig'  with {'id':id, 'type':type} %}
    {% endif %}
</div>

